@model DemoSite.Models.ViewModels.StartPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadlineContent {
    <div id="carousel-jumbotron" class="carousel slide" data-ride="carousel">
        <div class="container">

            <div class="carousel-inner" role="listbox">
                @{
                    var count = 0;
                    foreach (var slide in Model.CurrentPage.Slides.Items) {
                        <div class="item @(count == 0 ? "active" : "")">
                            <div class="jumbotron">
                                <div class="container">
                                    <h1>@slide.Header</h1>
                                    <p>@slide.Description</p>
                                    <a href="@slide.Url" class="btn btn-primary btn-lg">Learn more &raquo;</a>
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                }
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (var i = 0; i < count; i++) {
                    <li data-target="#carousel-jumbotron" data-slide-to="@i" class="@(i == 0 ? " active" : "")"></li>
                }
            </ol>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-jumbotron" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-jumbotron" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

<div class="row add-space flex-boxes">
    <div class="col-lg-4">
        <h2>@Model.CurrentPage.MainFeature.Header</h2>
        @Model.CurrentPage.MainFeature.Description
        <a href="@Model.CurrentPage.MainFeature.Url" class="btn btn-primary">Learn more »</a>
    </div>
    <div class="col-lg-4">
        <h2>@Model.CurrentPage.SecondaryFeature.Header</h2>
        @Model.CurrentPage.SecondaryFeature.Description
        <a href="@Model.CurrentPage.SecondaryFeature.Url" class="btn btn-primary">Learn more »</a>
    </div>
    <div class="col-lg-4">
        <h2>Latest news:</h2>
        <ul class="list-unstyled">
            @foreach (var newsPage in Model.LatestNews) {
                <li>@newsPage.StartPublish.Value.ToShortDateString() <a href="@newsPage.PageUrl">@newsPage.PageName</a></li>
            }
        </ul>
        <!-- The line below should not be hard coded but instead a property on the start page -->
        <a href="/news/" class="btn btn-primary">More news »</a>
    </div>
</div>