@using KalikoCMS
@using KalikoCMS.Core
@using KalikoCMS.Mvc.Extensions
@model DemoSite.Models.ViewModels.PageViewModel<DemoSite.Models.Pages.ArticlePage>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Partials/BreadCrumbsView.cshtml", Model)

<div class="row">
    <div class="left-menu col-lg-3">
        @Html.MenuTreeFor(Model.CurrentPage, PageFactory.GetPage(Model.CurrentPage.RootId), new { @class = "nav nav-pills nav-stacked", selectedItemClass = "active" })
    </div>
    <div class="col-lg-9">
        @Model.CurrentPage.TopImage.ToHtml()
        <h1>@Model.CurrentPage.Headline</h1>
        <p class="preamble">@Model.CurrentPage.Preamble</p>
        @Model.CurrentPage.MainBody
        @if (Model.CurrentPage.Tags.Tags.Count > 0) { 
            <p class="tags">
                This article was tagged with: <strong>@Model.CurrentPage.Tags</strong>
            </p>
        }
    </div>
</div>
