@using KalikoCMS
@using KalikoCMS.Core
@model DemoSite.Models.ViewModels.PageViewModel<DemoSite.Models.Pages.ArticlePage>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Partials/BreadCrumbsView.cshtml", Model)

<div class="row">
    <div class="left-menu col-lg-3">
        @RenderTree(PageFactory.GetPage(Model.CurrentPage.RootId))
    </div>
    <div class="col-lg-9">
        @Model.CurrentPage.TopImage.ToHtml()
        <h1>@Model.CurrentPage.Headline</h1>
        <p class="preamble">@Model.CurrentPage.Preamble</p>
        @Model.CurrentPage.MainBody
        @if (Model.CurrentPage.Tags.Tags.Count > 0) { 
            <p class="tags">
                This article was tagged with: <strong>@Model.CurrentPage.Tags</strong>
            </p>
        }
    </div>
</div>

@* Recursive function that renders all pages in the current branch which is set to be visible in menus *@
@helper RenderTree(CmsPage page) {
    <ul class="nav nav-pills nav-stacked">
        @* Loop through all children *@
        @foreach (CmsPage child in page.Children)
        {
            // Don't show pages that isn't visible in menus
            if (!child.VisibleInMenu)
            {
                continue;
            }
            <li class="@(Model.CurrentPage.PageId == child.PageId ? "active" : "")">
                <a href="@child.PageUrl">@child.PageName</a>
                @if (child.HasChildren && (Model.CurrentPage.ParentPath.Contains(child.PageId) || Model.CurrentPage.PageId == child.PageId))
                {
                    // Only expand selected node
                    @RenderTree(child)
                }
            </li>
        }
    </ul>
}