@using KalikoCMS
@using KalikoCMS.Mvc.Extensions
@model DemoSite.Models.ViewModels.ContactPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Partials/BreadCrumbsView.cshtml", Model)

<div class="row">
    <div class="left-menu col-lg-3">
        @Html.MenuTreeFor(Model.CurrentPage, PageFactory.GetPage(Model.CurrentPage.RootId), new { @class = "nav nav-pills nav-stacked", selectedItemClass = "active" })
    </div>
    <div class="col-lg-6">
        <h1>@Model.CurrentPage.Headline</h1>
        @Model.CurrentPage.MainBody
        @using (Html.BeginForm("sendmessage", Model.CurrentPage.PageUrl.ToString().Trim('/'), FormMethod.Post)) {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(x => x.FormData.Name) *
                @Html.TextBoxFor(x => x.FormData.Name, new { @class = "form-control", placeholder = "Name" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FormData.EmailAddress) *
                @Html.TextBoxFor(x => x.FormData.EmailAddress, new { @class = "form-control", placeholder = "E-mail" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FormData.Subject) *
                @Html.TextBoxFor(x => x.FormData.Subject, new { @class = "form-control", placeholder = "Subject" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FormData.Message) *
                @Html.TextAreaFor(x => x.FormData.Message, new {@class = "form-control", placeholder = "Message"})
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
</div>
